body {
    font-family: 'Gloria Hallelujah', 'sans serif';
    text-align: center;
}
i {
    color: black;
    float: left;
}
i:hover {
    color: rgb(165, 9, 231);
    transition: transform 150ms;
    transform: scale(1.1);
}
a {
    color: black;
    text-decoration: none;
}
.quiz-field {
    text-align: center;
}
/*username before hover*/
.username-hover {
padding: 1rem;
border: none;
border-bottom: 1px solid black;
}

/*username after hover*/
.username-hover:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.1);
}
input::placeholder {
    font-family: 'Luckiest Guy', 'sans serif';
    font-size: 100%;
}
/*Create username button before hover*/
.button-normal {
    border: none;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    margin: 1rem 0 0 0;
}
/*Create username button after hover*/
.button-hover:hover {
    color: rgb(165, 9, 231);
    text-align: center;
    border: 4px solid rgb(165, 9, 231);
}
.correct {
    background-color: rgb(10, 164, 61);
}

.incorrect {
    background-color: rgb(197, 6, 41);
}